.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw;
    background-color: #f8f9fa;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .auction-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 2000px;
    gap: 20px; /* Prostor između kolona */
  }
  
  .auction-column {
    width: 32%; /* Smanjivanje širine kolona */
    background-color: #ffffff;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: auto;
  }

  .auction-header {
    display: flex;
    justify-content: space-between; /* This will space out the headline and button */
    align-items: center; /* Vertically center the content */
  }
  
  .auction-column h3 {
    font-size: 24px; /* Adjust headline font size */
    margin-bottom: 14px;
    text-align: left; /* Align headline to the left */
  }
  .auction-column button {
    margin-left: 10px; /* Space between the headline and the button */
  }
  
  .auction-column p {
    font-size: 14px;
  }
  
  .auction-card {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px; /* Razmak između podataka unutar kartice */
  }
  
  .auction-card p {
    flex: 1 1 45%; /* Podaci su raspoređeni jedan pored drugog */
    margin: 5px 0;
    font-size: 14px;
  }
  
  .auction-card strong {
    font-weight: bold;
  }
  
  .auction-scroll {
    max-height: 600px;
    overflow-y: auto;
  }
  
  .notice-message {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .auction-button-wrapper {
    width: 100%;
    margin-top: 20px; /* Povećava prostor između ostatka kartice i dugmeta */
    display: flex;
    justify-content: center;
  }
  
  .auction-button-wrapper button {
    padding: 10px 18px; /* Veće dugme sa više paddinga */
    font-size: 16px; /* Veći font kako bi dugme bilo jasno vidljivo */
    margin-top: 10px;
    height: 45px; /* Dodavanje visine za dugme */
  }
  