.coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #14110F;
    color: #E3B34B;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
    margin: 10px 0;
}

p {
    font-size: 1.2rem;
}
  